# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [3]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [4]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [10]:
baby_names.head(10)

       Name  Year Gender State  Count
0      Emma  2004      F    AK     62
1   Madison  2004      F    AK     48
2    Hannah  2004      F    AK     46
3     Grace  2004      F    AK     44
4     Emily  2004      F    AK     41
5   Abigail  2004      F    AK     37
6    Olivia  2004      F    AK     33
7  Isabella  2004      F    AK     30
8    Alyssa  2004      F    AK     29
9    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [9]:
baby_names.drop(columns=['Unnamed: 0', 'Id'], inplace=True)

### Step 6. Are there more male or female names in the dataset?

In [13]:
baby_names.groupby('Gender')['Count'].sum()

Gender
F    16380293
M    19041199
Name: Count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [14]:
names = baby_names.groupby('Name')

### Step 8. How many different names exist in the dataset?

In [18]:
baby_names['Name'].nunique()

17632

### Step 9. What is the name with most occurrences?

In [20]:
names['Count'].sum().idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [38]:
count_table = names['Count'].sum()
least_occ = count_table.min()
count_table[count_table == 5].count()

np.int64(2578)

### Step 11. What is the median name occurrence?

In [40]:
n = count_table.median()
count_table[count_table == n]

Name
Aishani    49
Alara      49
Alysse     49
Ameir      49
Anely      49
           ..
Sriram     49
Trinton    49
Vita       49
Yoni       49
Zuleima    49
Name: Count, Length: 66, dtype: int64

### Step 12. What is the standard deviation of names?

In [41]:
count_table.std()

11006.069467891111

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [42]:
count_table.describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64